* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel {
  &__inner {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__wrapper {
    max-width: 500px;
    display: flex;
    width: 100%;
    overflow-x: hidden;
    margin: 0 20px;
  }
  &__img {
    object-fit: cover;
    width: 100%;
    transition: 300ms;
    height: auto;
  }
  &__dots {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.dot {
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 2px solid rgb(153, 153, 153);
  cursor: pointer;
  margin: 0 5px;

  &.active {
    background-color: rgba(47, 144, 255, 0.8);
  }
}
.btn {
  padding: 10px;
  cursor: pointer;
  border: none;
  background-color: rgba(47, 144, 255, 0.8);
  border-radius: 50%;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  line-height: 22px;
  &:last-child {
    img {
      transform: rotate(180deg);
    }
  }
}
